<div ng-controller="PLCtrl">

  <style>
    .tm1-ui-dbr {
      text-align: right;
    }
    .tm1-ui-dbr input {
      text-align: right;
    }   
    .criteria {
      margin-top: 10px;
    }
    .consol {
      font-weight: bold;
    }
  </style>

  <h1>
    <span style="float: left; width: 50px; "><i ng-if="$root.isLoading"  class="fa fa-cog fa-spin" ></i><i ng-if="!$root.isLoading" class="fa fa-cube"></i></span> P&L
  </h1>
  
  <criteria selections="selections"></criteria>
  
  <h3>Template</h3> 
    
    <tm1-ui-progress tm1-ui-trigger="selections">
    
      <tm1-ui-progress-pending>
      </tm1-ui-progress-pending>
    
      <tm1-ui-progress-ready>
      
        <table class="table table-striped" >
          <tr>
            <th style="min-width: 250px;">Account</th>
            <th class="text-right" ng-repeat="item in values['Period']">{{item.alias}}</th>
          </tr>
        
          <tr ng-repeat="row in table.data()" ng-class="{'consol': !row.isLeaf}">
            <td><tm1-ui-element-list-item tm1-item="row" tm1-item-display="{{row.alias}}"></tm1-ui-element-list-item></td>
            <td ng-repeat="column in values['Period']" class="text-right">
              <tm1-ui-dbr 
                  tm1-instance="dev" 
                  tm1-cube="General Ledger" 
                  tm1-elements="{{selections['Version']}},{{selections['Year']}},{{column.key}},{{selections['Currency']}},{{selections['Region']}},{{selections['Department']}},{{row.key}},Amount" 
                  tm1-data-decimal="0" >
              </tm1-ui-dbr>
            </td>
          </tr>
        </table>
    
      </tm1-ui-progress-ready>
    
    </tm1-ui-progress>
  
  </div>
    

</div>